@model Gestao_Ouvidoria.Models.Manifestacao
@using Gestao_Ouvidoria.Helpers



<table class="tab_cadre" width="700">
    <tbody>
        <tr>
            <th colspan="3">Manifestação</th>
        </tr>

        <tr class="tab_bg_1">
            <td colspan="3" style="text-align: center; vertical-align: middle;">
                <img src="../../Imgs/logo.png" alt="" class="img-fluid" style="height:100px;">
            </td>
        </tr>

        <tr class="tab_bg_1">
            <td>Nome</td>
            <td>
                @ViewBag.Manifestacao.Perfil.Nome
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="tab_bg_1">
            <td>E-mail</td>
            <td>
                @ViewBag.Manifestacao.Perfil.Email
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="tab_bg_1">
            <td>Telefone</td>
            <td>
                @ViewBag.Manifestacao.Perfil.Telefone
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="tab_bg_1">
            <td>Celular</td>
            <td>
                @ViewBag.Manifestacao.Perfil.Celular
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="tab_bg_1">
            <td>Tipo Perfil</td>
            <td>
                @{
                    var tipoperfil = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.Perfil.TipoPerfil);
                    @Html.Raw(tipoperfil);
                }

            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="tab_bg_1">
            <td>Campus</td>
            <td>
                @{
                    var campus = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.Campus);
                    @Html.Raw(campus);
                }

            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="tab_bg_1">
            <td>Curso</td>
            <td>
                @{
                    var curso = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.Curso);
                    @Html.Raw(curso);
                }

            </td>
            <td colspan="2"></td>
        </tr>


        <tr class="tab_bg_1">
            <td> Tipo Solicitação</td>
            <td>
                @{
                    var tiposolicitacao = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.TipoSolicitacao);
                    @Html.Raw(tiposolicitacao);
                }

            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="tab_bg_1">
            <td>Setor</td>
            <td>
                @{
                    var setor = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.Setor);
                    @Html.Raw(setor);
                }

            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="tab_bg_1">
            <td>Assunto</td>
            <td>@ViewBag.Manifestacao.Assunto</td>
            <td colspan="2"></td>
        </tr>


        <tr class="tab_bg_1">
            <td>Manifestacao Conteudo</td>
            <td>@ViewBag.Manifestacao.ManifestacaoConteudo</td>
            <td colspan="2"></td>
        </tr>


        <tr class="tab_bg_1">
            <td>Criado em</td>
            <td>@ViewBag.Manifestacao.Created</td>
            <td colspan="2"></td>
        </tr>


        <tr class="tab_bg_1">
            <td>Modificado em</td>
            <td>@ViewBag.Manifestacao.Modified</td>
            <td colspan="2"></td>
        </tr>

        <tr class="tab_bg_1">
            <td>Status</td>
            <td>
                @{
                    var status = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.Status);
                    @Html.Raw(status);
                }

            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="tab_bg_1">
            <td>Status Setor</td>
            <td>
                @{
                    var statusSetor = EnumHelperAttribute.GetDisplayName(@ViewBag.Manifestacao.StatusSetor);
                    @Html.Raw(statusSetor);
                }

            </td>
            <td colspan="2"></td>
        </tr>
        @{
            if (ViewBag.RespostaManifestacao != null)
            {
                <tr class="tab_bg_1">
                    <td>Resposta</td>
                    <td>@ViewBag.RespostaManifestacao.ManifestacaoResposta</td>
                    <td colspan="2"></td>
                </tr>


                <tr class="tab_bg_1">
                    <td>Caminho Arquivo</td>
                    <td>@ViewBag.RespostaManifestacao.Arquivo</td>
                    <td colspan="2"></td>
                </tr>
            }
        }


    </tbody>
</table>

<p>
    @ViewBag.Message
</p>


@using (Html.BeginForm("Encaminhar",
                        "RespostaManifestacao",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card_resposta">
        <div class="form-horizontal">
            <h4>Encaminhar via E-mail</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.Label("setores", "Setor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("setores", (SelectList)ViewBag.setores, new { @class = "form-control" })
                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
