@model IEnumerable<Gestao_Ouvidoria.Models.Perfil>
@using Gestao_Ouvidoria.Models
@using Gestao_Ouvidoria.Helpers


<br />

<div class="container" style="background-color:white;padding:20px; border-radius: 10px;">

    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-3">
                <img src="../../Imgs/logo.png" alt="" class="img-fluid imglogo">
            </div>
            <div class="col-lg-9 my-auto">
                <h3>Perfil</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <a href='@Url.Action("Create", "Perfil")' class="btn btn-primary pull-right">
                Criar Perfil
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" id="myCustomSearchBox" class="form-control" placeholder="Digite sua busca aqui">
        </div>
    </div>
    <br />
    <div class="col-lg-12">
        <table id="myTable" class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TipoPerfil)
                    </th>

                    <th>
                        Operações
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr class="">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @{
                            var tipoperfil = EnumHelperAttribute.GetDisplayName(item.TipoPerfil);
                            @Html.Raw(tipoperfil);
                        }
                    </td>

                    <td>
                        <div class="row">
                            <a href='@Url.Action("Delete", "Perfil", new { id = item.Id })' class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>




@section Scripts{
    <script type="text/javascript">

        $(document).ready(function ($) {

            dTable = $('#myTable').DataTable({
                "bLengthChange": false, // this gives option for changing the number of records shown in the UI table
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" } //columnDefs for align text to center
                ],
                "dom": "lrtip", //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
                "bInfo": false,
                "pageLength": 6,


            });

            $('#myCustomSearchBox').keyup(function () {
                dTable.search($(this).val()).draw();   // this  is for customized searchbox with datatable search feature.
            })
        });






    </script>
}
